.page-cont
  margin-top: 100px
  padding: 10px
  border-radius: 5px

  .auth-cont
    padding: 30px
    margin: auto
    width: 500px
    max-width: 100%
    background-color: #fff
    margin-left: auto
    border-radius: 10px

    h1
      text-align: center

input
  padding: 25px 15px

button
  width: 100%

.error-inp
  border: 1px solid red
