.pref-item {
  padding: 15px 0;
}

.form-check {
  padding-bottom: 5px;
  padding-top: 5px;
}
.form-check:hover {
  cursor: pointer;
}
.form-check input {
  margin-right: 10px;
}
.form-check label:hover {
  cursor: pointer;
}
