.vnav-tabs {
  position: relative;
  margin-top: 20px;
}
.vnav-tabs > a {
  display: inline-block;
  border: none;
  background: none;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(46, 62, 72, 0.7);
  margin-bottom: -3px;
  border-bottom: 3px solid #dee2e6;
}
.vnav-tabs > a.active {
  color: #000;
  border-bottom: 3px solid #000;
}

.option-body {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}
