.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.terms-msg {
  margin-top: 15px;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.page-cont {
  margin-top: 60px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  left: 0;
}
.page-cont .auth-cont {
  padding: 30px;
  margin: auto;
  width: 500px;
  max-width: 100%;
  background-color: #fff;
  margin-left: auto;
  border-radius: 10px;
}
.page-cont .auth-cont h1 {
  text-align: center;
}

.error-inp {
  border: 1px solid red;
}

.alert {
  margin-top: 10px;
}
.alert .pwd-item {
  color: #000;
}
.alert fa-icon {
  color: green;
}

input {
  padding: 25px 15px;
}

button {
  width: 100%;
}
