<div class="page-cont shadow-sm">
  <app-title></app-title>

  <div class="app-info">
    <app-info></app-info>
  </div>

  <div class="auth-cont">
    <div style="padding: 10px">
      <h1>Sign up</h1>
      <div *ngIf="!showForm">
        <div>User created successfully</div>
        <button class="btn btn-light" type="button" (click)="login()">Go to login</button>
      </div>

      <div *ngIf="showForm">
        <form (ngSubmit)="signup(registerForm)" #registerForm="ngForm" [formGroup]="form">
          <div class="form-group inp-cont">
            <input type="email" class="form-control" required formControlName="email" name="email"
                  placeholder="Email" [readonly]="loading" required>

            <small class="text-danger" *ngIf="(email.dirty || email.touched) && !email.valid" class="text-danger">
              <div *ngIf="email.hasError('required')">Email is required.</div>
              <div *ngIf="email.hasError('email')">Email is invalid.</div>
              <div *ngIf="email.hasError('exists')">Email is already registered.</div>
            </small>
          </div>
          <div class="form-group inp-cont">
            <input type="text" class="form-control" required formControlName="name" name="name"
                  placeholder="Name" [readonly]="loading" required>
            <small class="text-danger" *ngIf="(name.dirty || name.touched) && !name.valid" class="text-danger">
              Name is invalid.
            </small>
          </div>
          <div class="form-group inp-cont">
            <input type="password" class="form-control auth-inp" formControlName="password" name="password"
                  placeholder="Password" [readonly]="loading" required>

            <small class="text-danger" *ngIf="(password.dirty || password.touched) && !password.valid" class="text-danger">
              <div *ngIf="password.hasError('required')">Password is invalid.</div>
              <div *ngIf="password.hasError('pattern')">Password must be at least 8 characters long and contain at least one uppercase letter, lowercase letter, number and special character</div>
            </small>
          </div>
          <div class="form-group inp-cont">
            <input type="password" class="form-control auth-inp" formControlName="confirmPassword" name="confirmPassword"
                  placeholder="Confirm password" [readonly]="loading" required>

            <small class="text-danger" *ngIf="(confirmPassword.dirty || confirmPassword.touched) && !confirmPassword.valid" class="text-danger">
              Confirm password
            </small>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="loading">Sign up</button>
          <div style="text-align: center; margin: 10px 0">or</div>
          <button class="btn btn-success" type="button" (click)="login()">Go to login</button>
        </form>
      </div>
    </div>
  </div>
</div>
