<h1 style="position: relative;;">{{ 'Find people' | translate }} <span *ngIf="searchPref?.location?.fullName">{{ 'in' | translate }} {{ searchPref.location.fullName }}</span>
  <button class="btn btn-outline-dark" style="position: absolute; top: 0; right: 0;" (click)="openModal(content)">
    <fa-icon [icon]="faSearchPref"></fa-icon>
  </button>
</h1>

<loader *ngIf="loading"></loader>
<div *ngIf="!loading && users.length == 0">{{ 'No people were found.' | translate }}</div>
<div class="user-items-cont">
  <user-item *ngFor="let user of users" [user]="user"></user-item>

  <div class="clearfix"></div>
</div>

<div *ngIf="!loading && error">
  <small class="text-danger">
    {{ 'Error loading result.' | translate }}
  </small>
</div>

<pagination [page]="page" [totalPages]="totalPages" (pageChange)="pageChange($event)"></pagination>

<ng-template #content let-modal>
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <h3>{{ 'Search' | translate }}</h3>
      <div style="display: flex;">
        <h6 style="align-items: center; display: flex; margin-bottom: 0; margin-right: 10px; width: 55px;">{{ 'Age' | translate }}</h6>
        <div style="display: flex; flex: 1 0 auto;">
          <div style="flex: 1 0 auto;">
            <select class="form-control" [value]="editSearchPref.fromAge" (change)="changePref('fromAge', +$event.target.value)">
              <option *ngFor="let age of ages" [value]="age" [selected]="age == editSearchPref.fromAge">{{age}}</option>
            </select>
          </div>
          <span style="align-items: center; display: flex; margin: 0 5px;">и</span>
          <div style="flex: 1 0 auto;">
            <select class="form-control" [value]="editSearchPref.toAge" (change)="changePref('toAge', +$event.target.value)">
              <option *ngFor="let age of agesTo" [value]="age" [selected]="age == editSearchPref.toAge">{{age}}</option>
            </select>
          </div>
        </div>
      </div>

      <div style="margin-top: 30px; display: flex;">
        <h6 style="align-items: center; display: flex; margin-bottom: 0; margin-right: 10px; width: 55px; justify-content: flex-end;">{{ 'City' | translate }}</h6>
        <location-select style="flex: 1 0 auto;" [location]="editSearchPref.location" (locationChanged)="locationChanged($event)"></location-select>
      </div>
    </div>

    <div style="margin-top: 20px; display: flex; flex-flow: row;">
      <button class="btn btn-outline-primary" style="flex: 1 0 auto;" (click)="resetSearchPref()">{{ 'Reset' | translate }}</button>
      <button class="btn btn-outline-primary" style="flex: 1 0 auto; margin-left: 5px;" (click)="saveSearchPref()">{{ 'Search' | translate }}</button>
    </div>
  </div>
</ng-template>
