.interest-picker-container
  position: relative
  padding: 10px
  background-color: #f2f2f2

  .selected-container
    margin-bottom: 10px

  h5
    margin: 0

.hobbie-item
  &.mutual
    background-color: #bec4c0
  margin: 5px
  padding: 0 5px
  display: inline-block
  #border: 1px solid #bec4c0
  border: 0px
  color: #fff
  background-color: #ff6060ff
  font-weight: bold
  border-radius: 5px
  cursor: pointer
  &:hover
    background-color: red

.item-close
    margin-left: 10px
