$contentWidth: 800px;

.page-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.notif-badge {
  top: 8px;
  right: -8px;
  color: #fff;
  font-size: 11px;
  font-family: initial;
  font-weight: 800;
  position: absolute;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(46, 62, 72, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 5px;
}
.header .content {
  width: $contentWidth;
  margin: auto;
  position: relative;
  height: 50px;
}
.header .content .home-data {
  position: absolute;
  left: 0;
  top: 0;
}
.header .content .user-data {
  position: absolute;
  right: 0;
  top: 0;
}
.header a.header-item {
  margin-left: 15px;
  padding: 10px 0;
  display: inline-block;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.dropdown-item:hover {
  cursor: pointer;
}

.page-content .content {
  width: 800px;
  float: left;
}

.left-menu {
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
}
.left-menu a {
  font-weight: bold;
  font-size: 17px;
  position: relative;
}
.left-menu a i.icon {
  display: inline-block;
}
.left-menu .item {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.left-menu .item:hover {
  background-color: rgba(46, 62, 72, 0.1);
}
.left-menu .item fa-icon {
  margin-right: 2px;
}

.page-container {
  width: 840px;
  margin: auto;
  margin-top: 60px;
  min-height: calc(100vh - 100px);
}

.page-container:after {
  display: block;
  content: "";
  clear: both;
}

.terms-cont {
  padding: 10px;
  font-size: 11px;
  color: #8a8a8a;
  font-weight: 500;
}
.terms-cont a {
  color: #8a8a8a;
  display: block;
}
.terms-cont a:active {
  color: #8a8a8a;
}

.change-lang {
  position: fixed;
  bottom: 10px;
  left: 20px;
  font-size: 13px;
  text-align: left;
}

.beta-badge {
  font-size: 12px;
  background-color: purple;
  margin-left: 5px;
}

@media only screen and (max-width: 1170px) {
  .item .label {
    display: none;
  }
}

@media only screen and (max-width: $contentWidth) {
  .header .content {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 940px) {
  .page-container {
    width: 100%;
    padding-left: 45px;
  }
  .left-menu {
    z-index: 1;
  }
}
