<div *ngIf="isLoggedIn">
  <div class="header shadow-sm">
    <div class="content">
      <div class="home-data">
        <a routerLink="/" style="font-weight: bold; color: #000; font-size: 20px; padding: 5px 0; display: inline-block;">
          <img src="/assets/logo.svg" style="height: 39px;" />
          <span class="align-middle badge badge-pill badge-primary beta-badge">Beta</span>
        </a>
      </div>
      <div class="user-data">
        <a *ngIf="isActiveUser" class="header-item" [routerLink]="['/user/' + loggedUser().id]">
          <fa-icon class="primary-item" [icon]="faProfile" title="{{ 'My profile' | translate }}"></fa-icon>
        </a>
        <div class="btn-group">
          <a data-toggle="dropdown" class="header-item" style="width: 15px; cursor: pointer;">
            <fa-icon class="primary-item" [icon]="faEllipsisV"></fa-icon>
          </a>
          <div class="dropdown-menu" style="margin-top: -10px;">
            <a *ngIf="isActiveUser" class="dropdown-item" routerLink="/settings">
              <fa-icon [icon]="faSettings"></fa-icon>
              {{ 'Settings' | translate }}
            </a>
            <a class="dropdown-item" (click)="openFeedbackModal(feedbackDialog)">
              <fa-icon [icon]="faFeedback"></fa-icon>
              {{ 'Feedback' | translate }}
            </a>
            <a class="dropdown-item" (click)="logout()">
              <fa-icon [icon]="faLogout"></fa-icon>
              {{ 'Logout' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isActiveUser" class="left-menu">
    <a routerLink="/find-people" class="item">
      <fa-icon [icon]="faFindPeople"></fa-icon>
      <span class="label">{{ 'Find people' | translate }}</span>
    </a>
    <a routerLink="/likes" class="item">
      <fa-icon [icon]="faIntro"></fa-icon>
      <span class="label">{{ 'Likes' | translate }}</span>
      <span *ngIf="notifsCount.intro > 0" class="badge rounded-pill bg-danger" style="top: 3px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{ notifsCount.intro }}</span>
    </a>
    <a routerLink="/matches" class="item">
      <fa-icon [icon]="faMatch"></fa-icon>
      <span class="label">{{ 'Matches' | translate }}</span>
      <span *ngIf="notifsCount.matches > 0" class="badge rounded-pill bg-danger" style="top: 3px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{ notifsCount.matches }}</span>
    </a>
    <a routerLink="/chat" class="item">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span class="label">{{ 'Messages' | translate }}</span>
      <span *ngIf="notifsCount.msg > 0" class="badge rounded-pill bg-danger" style="top: 3px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{ notifsCount.msg }}</span>
    </a>
    <a routerLink="/views" class="item">
      <fa-icon [icon]="faViews"></fa-icon>
      <span class="label">{{ 'Views' | translate }}</span>
      <span *ngIf="notifsCount.visits > 0" class="badge rounded-pill bg-danger" style="top: 3px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{ notifsCount.visits }}</span>
    </a>
    <a routerLink="/compatibilities" class="item">
      <fa-icon [icon]="faCompatibility"></fa-icon>
      <span class="label">{{ 'Compatibility' | translate }}</span>
      <span *ngIf="compatibilityCount && 0 < compatibilityCount" class="badge rounded-pill bg-danger" style="top: 3px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{ compatibilityCount }}</span>
    </a>
  </div>
</div>

<div class="page-container" style="position: relative;">
  <div *ngIf="isActiveUser && showVerifyAlert" class="alert alert-warning" role="alert" style="position: relative;">
    <a href="javascript:void(0)" (click)="openVerifyModal()" style="color: #4798b5;">
      {{ 'Verify yourself' | translate }}
    </a> {{ 'and show that it is really you!' | translate }}
    <fa-icon [icon]="faClose" style="font-size: 25px; position: absolute; right: 5px; top: 5px;" (click)="hideVerifyAlert()"></fa-icon>
  </div>

  <router-outlet></router-outlet>
</div>

<ng-template #feedbackDialog let-modal>
  <div class="modal-body">
    <div class="alert alert-secondary" role="alert">
      {{ 'If you have found a bug, hove some ideas to improve the app or just want to send general feedback - leave a message!' | translate }}
    </div>
    <div class="form-group">
      <label for="reason">{{ 'Type' | translate}}</label>
      <select class="form-control" #feedbackType>
        <option value="bug">{{'Found a bug' | translate }}</option>
        <option value="feature">{{ 'New feature' | translate }}</option>
        <option value="other">{{ 'Other' | translate }}</option>
      </select>
    </div>

    <div class="form-group required">
      <label class="control-label" for="details">{{ 'Message' | translate }}</label>
      <textarea class="form-control" placeholder="{{ 'Give us more details..' | translate }}" [(ngModel)]='feedbackDetails'></textarea>
    </div>
    <button class="btn btn-outline-primary" (click)="sendFeedback(feedbackType.value)" [disabled]="!feedbackDetails || 0 === feedbackDetails.trim().length" style="width: 100%;">{{ 'Send' | translate }}</button>
    <button type="button" class="btn btn-outline-primary" style="width: 100%; margin-top: 10px;" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      {{ 'Close' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #verifyDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'Verification Request' | translate }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!verifying">
      <div style="font-weight: bold;">
        {{ 'Why should I verify my profile?' | translate }}
      </div>
      <ul style="padding-left: 20px;">
        <li>{{ 'You show people that it\'s really you' | translate }}</li>
        <li>{{ 'When you\'re verified then ONLY other verified people can contact you' | translate }}</li>
      </ul>

      <div style="font-weight: bold;">
        {{ 'How does verification work?' | translate }}
      </div>
      {{ 'Take a photo (from your current device) with the target gesture and submit it. The verification photo will be compared to your profile picture' | translate }}

      <div *ngIf="!verificationStatus.profileImageId" class="alert alert-danger" role="alert" style="margin-top: 20px;">
        {{ 'You must upload a profile image before you request verification.' | translate }}
      </div>

      <div *ngIf="verificationStatus.profileImageId" style="margin-top: 20px;">
        <button class="btn btn-outline-primary" style="width: 100%;" (click)="verifying = true">{{ 'Start verification' | translate }}</button>
      </div>
    </div>
    <div *ngIf="verifying">
      <div style="width: 100%; padding: 15px;">
        <div style="margin-bottom: 10px;">
          {{ 'Please take a photo with the following gesture:' | translate }}
        </div>
        <div style="padding: 0 20px; position: relative;">
          <img src="/assets/verify_gesture.jpg" class="border" style="width: 100%;" [ngStyle]="{ 'position': takingPhoto ? 'absolute' : '', top: takingPhoto ? '0px' : '', width: takingPhoto ? '110px' : '100%' }" />
          <camera-image-capture *ngIf="takingPhoto" (imageCaptured)="imageCaptured($event)" (captureStarted)="clearCapturedImage()"></camera-image-capture>
        </div>
        <button *ngIf="!takingPhoto" class="btn btn-outline-primary" style="width: 100%; margin-top: 10px;" (click)="takingPhoto = true">{{ 'Next' | translate }}</button>
        <div style="margin-top: 10px;">
          {{ 'Don\'t worry - no one else will see the photo.' | translate }}
        </div>
      </div>
      <div *ngIf="hasVerificationBLob" style="text-align: center;">
        <button class="btn btn-outline-primary" style="padding: 10px 5px; width: 100%;" (click)="sendVerificationRequest()">{{ 'Send for verification' | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>

<preferences-modal></preferences-modal>
<like-modal></like-modal>
<notifier-container></notifier-container>
