<div class="page-cont" [ngClass]="{'bg-img': !isLoggedIn()}">
  <div *ngIf="isLoggedIn()">
    <div class="header shadow-sm">
      <div class="content">
        <div class="home-data">
          <a routerLink="/"  style="font-weight: bold; color: #000; font-size: 20px; padding: 10px 0; display: inline-block;">
            <span class="align-middle" style="margin-right: 5px;">vinteres</span>
            <span class="align-middle badge badge-pill badge-primary" style="font-size: 12px; background-color: purple;">Beta</span>
          </a>
        </div>
        <div class="user-data">
          <a *ngIf="isActiveUser()" class="header-item" [routerLink]="['/user/' + loggedUser().id]"><fa-icon [icon]="faProfile"></fa-icon></a>
          <a *ngIf="isActiveUser()" class="header-item" routerLink="/chat" style="position: relative;">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <span *ngIf="notifsCount.msg > 0" class="badge rounded-pill bg-danger" style="top: 8px; right: -8px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{notifsCount.msg}}</span>
          </a>
          <a *ngIf="isActiveUser()" class="header-item" routerLink="/notifications" style="position: relative;">
            <fa-icon [icon]="faBell"></fa-icon>
            <span *ngIf="notifsCount.notif > 0" class="badge rounded-pill bg-danger" style="top: 8px; right: -8px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{notifsCount.notif}}</span>
          </a>

          <div class="btn-group">
            <a data-toggle="dropdown" class="header-item" style="width: 15px; cursor: pointer;">
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </a>
            <div class="dropdown-menu" style="margin-top: -10px;">
              <a *ngIf="isActiveUser()" class="dropdown-item" routerLink="/settings">
                <fa-icon [icon]="faSettings"></fa-icon>
                Settings
              </a>
              <a class="dropdown-item" (click)="openFeedbackModal(feedbackDialog)">
                <fa-icon [icon]="faFeedback"></fa-icon>
                Feedback
              </a>
              <a class="dropdown-item" (click)="logout()">
                <fa-icon [icon]="faLogout"></fa-icon>
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isActiveUser()" class="left-menu">
      <a routerLink="/intros" class="item">
        <fa-icon [icon]="faIntro"></fa-icon>
        Intros <span *ngIf="notifsCount.intro > 0" class="badge rounded-pill bg-danger" style="top: 3px; color: #fff; font-size: 11px; font-family: initial; font-weight: 800; position: absolute;">{{notifsCount.intro}}</span>
      </a>
      <a routerLink="/find-people" class="item">
        <fa-icon [icon]="faFindPeople"></fa-icon>
        Find people
      </a>
      <a routerLink="/compatabilities" class="item">
        <fa-icon [icon]="faCompatability"></fa-icon>
        Compatabilities
      </a>
      <a routerLink="/matches" class="item">
        <fa-icon [icon]="faMatch"></fa-icon>
        Matches
      </a>
      <a routerLink="/views" class="item">
        <fa-icon [icon]="faViews"></fa-icon>
        Views
      </a>
    </div>
  </div>

  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #feedbackDialog let-modal>
  <div class="modal-body">
    <span class="close" aria-label="Close" style="position: absolute; top: -30px;right: 0; color: #fff; cursor: pointer;" (click)="modal.dismiss('Cross click')">&times;</span>
    <div class="alert alert-secondary" role="alert">
      If you have found a bug, hove some ideas to improve the app or just want to send general feedback - leave a message!
    </div>
    <div class="form-group">
      <label for="reason">Type</label>
      <select id="reason" class="form-control" #feedbackType>
        <option value="bug">Found a bug</option>
        <option value="feature">New feature</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="form-group required">
      <label class="control-label" for="details">Message</label>
      <textarea id="details" class="form-control" placeholder="Give us more details.." [(ngModel)]='feedbackDetails'></textarea>
    </div>
    <button class="btn btn-outline-dark" (click)="sendFeedback(feedbackType.value)" [disabled]="!feedbackDetails || 0 === feedbackDetails.trim().length" style="width: 100%;">Send</button>
  </div>
</ng-template>

<notifier-container></notifier-container>

<span class="created-by-text">Created by Velizar</span>
