<div *ngIf="1 == step && showIntroText">
  <h2 class="section-title">{{ 'Onboarding' | translate }}</h2>
  <div class="alert alert-info" role="alert">
    {{ 'Please take some time as the onboarding process will take arond 10-20 min.' | translate }}
    <br>
    <br>
    {{ 'There are 5 steps and the progress is saved till your current step. You can return and continue any time.' | translate }}
  </div>
  <div class="info-button-cont">
    <button class="btn btn-outline-primary" (click)="showIntroText = false">{{ 'Start' | translate }}</button>
  </div>
</div>

<stepper [activeStep]=step></stepper>

<div *ngIf="1 == step && !showIntroText" [ngClass]="{'ob-small': showAgePicker}">
  <div *ngIf="!showAgePicker">
    <h2 class="section-title">{{ 'About me' | translate }}</h2>
    <div class="onboarding-step-cont border shadow-sm">
      <form [formGroup]="accountInfoForm">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{ 'Name' | translate }}</label>
          <div class="col-sm-10">
            <div class="radio">
              <input class="form-control" type="text" name="name" formControlName="name"
                placeholder="{{ 'Your name' | translate }}">
            </div>
            <div>
              <small *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                <span *ngIf="name?.errors?.minlength">{{ 'Min length required' | translate:{'requiredLength': name?.errors?.minlength?.requiredLength} }}</span>
                <span *ngIf="name?.errors?.maxlength">{{ 'Max length required' | translate:{'requiredLength': name?.errors?.maxlength?.requiredLength} }}</span>
                <span *ngIf="!name?.errors?.minlength && !name?.errors?.maxlength">{{ 'Required field' | translate }}</span>
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">{{ 'I am' | translate }}</label>
              <div class="col-sm-8">
                <div class="radio">
                  <label><input type="radio" value="male" name="gender" formControlName="gender">{{ 'Male' | translate }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" value="female" name="gender" formControlName="gender">{{ 'Female' | translate }}</label>
                </div>
                <div>
                  <small *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="text-danger">
                    {{ 'Required field' | translate }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">{{ 'Looking for' | translate }}</label>
              <div class="col-sm-8">
                <div class="radio">
                  <label><input type="radio" value="male" name="interested_in"
                      formControlName="interested_in">{{ 'Male' | translate }}</label>
                </div>
                <div class="radio">
                  <label><input type="radio" value="female" name="interested_in"
                      formControlName="interested_in">{{ 'Female' | translate }}</label>
                </div>
                <div>
                  <small *ngIf="interested_in.invalid && (interested_in.dirty || interested_in.touched)"
                    class="text-danger">
                    {{ 'Required field' | translate }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{ 'Birthday' | translate }}</label>
          <div class="col-sm-10">
            <date-picker [date]="birthday.value" (dateChange)="dateChange($event)" (changed)="birthday.markAsDirty()"></date-picker>
            <div>
              <small *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="text-danger">
                <span *ngIf="birthday.errors.underage">{{ birthday.errors.underage | translate }}</span>
                <span *ngIf="!birthday.errors.underage">{{ 'Required field' | translate }}</span>
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{ 'From' | translate}}</label>
          <div class="col-sm-10">
            <div class="radio">
              <location-select [location]="location" (locationChanged)="locationChanged($event)"></location-select>
            </div>
            <div>
              <small *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger">
                {{ 'Required field' | translate }}
              </small>
            </div>
          </div>
        </div>
      </form>
      <div class="btn-cont">
        <button class="btn btn-outline-primary" (click)="showAgePickerStep()" [disabled]="loading">{{ 'Save' | translate }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="showAgePicker">
    <h2 class="section-title">{{ 'Age preference' | translate }}</h2>
    <div class="onboarding-step-cont border shadow-sm">
      <div class="pref-item">
        <div style="display: flex; flex: 1 0 auto;">
          <div style="flex: 1 0 auto;">
            <select class="form-control" [value]="agePref.fromAge" (change)="changePref('fromAge', +$event.target.value)">
              <option *ngFor="let age of ages" [value]="age" [selected]="age == agePref.fromAge">{{age}}</option>
            </select>
          </div>
          <span style="align-items: center; display: flex; margin: 0 5px;">и</span>
          <div style="flex: 1 0 auto;">
            <select class="form-control" [value]="agePref.toAge" (change)="changePref('toAge', +$event.target.value)">
              <option *ngFor="let age of agesTo" [value]="age" [selected]="age == agePref.toAge">{{age}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-cont">
      <button class="btn btn-outline-primary" (click)="saveAccountInfo()" [disabled]="loading">{{ 'Save' | translate }}</button>
    </div>
  </div>
</div>

<div *ngIf="2 == step">
  <h2 class="section-title">{{ 'Description about you' | translate }}</h2>
  <div class="onboarding-step-cont border shadow-sm">
    <form [formGroup]="aboutForm">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'Title' | translate }}</label>
        <div class="col-sm-10">
          <div class="radio">
            <input class="form-control" type="text" name="title" formControlName="title"
              placeholder="{{ 'Your job, education...' | translate }}">
          </div>
          <div>
            <small *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
              <span *ngIf="title?.errors?.minlength">{{ 'Min length required' | translate:{'requiredLength': title?.errors?.minlength?.requiredLength} }}</span>
              <span *ngIf="title?.errors?.maxlength">{{ 'Max length required' | translate:{'requiredLength': title?.errors?.maxlength?.requiredLength} }}</span>
              <span *ngIf="!title?.errors?.minlength && !title?.errors?.maxlength">{{ 'Required field' | translate }}</span>
            </small>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'About' | translate }}</label>
        <div class="col-sm-10">
          <div class="radio">
            <textarea class="form-control" name="description" formControlName="description" style="min-height: 100px;"
              placeholder="{{ 'Tell something about you' | translate }}"></textarea>
          </div>
          <div>
            <small *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
              <span *ngIf="description?.errors?.minlength">{{ 'Min length required' | translate:{'requiredLength': description?.errors?.minlength?.requiredLength} }}</span>
              <span *ngIf="description?.errors?.maxlength">{{ 'Max length required' | translate:{'requiredLength': description?.errors?.maxlength?.requiredLength} }}</span>
              <span *ngIf="!description?.errors?.minlength && !description?.errors?.maxlength">{{ 'Required field' | translate }}</span>
            </small>
          </div>
        </div>
      </div>
    </form>
    <div class="btn-cont">
      <a role="button"  class="btn-skip" (click)="skipAbout()" [disabled]="loading">{{ 'Skip' | translate }}</a>
      <button class="btn btn-outline-primary" (click)="saveAbout()" [disabled]="loading">{{ 'Save' | translate }}</button>
    </div>
  </div>
</div>

<div *ngIf="3 == step" class="ob-small">
  <h2 class="section-title">{{ 'Profile Info' | translate }}</h2>
  <div class="onboarding-step-cont border shadow-sm">
    <form [formGroup]="profileInfoForm">
      <h3>{{ 'Appearance' | translate }}</h3>
      <div class="row">
        <div class="col-sm-6">
          <label>{{ 'Body type' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="body" formControlName="body">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="fit" name="body" formControlName="body">{{ 'Fit' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="curvy" name="body" formControlName="body">{{ 'Curvy' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="average" name="body" formControlName="body">{{ 'Average' | translate}}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="skinny" name="body" formControlName="body">{{ 'Skinny' | translate }}</label>
          </div>
          <div>
            <small *ngIf="body.invalid && (body.dirty || body.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
        <div class="col-sm-6">
          <label>{{ 'Height' | translate}}</label>
          <div>
            <input type="number" class="form-control" formControlName="height" name="height"
              style="width: 70px; display: inline-block;">
            {{ 'cm' | translate }}
          </div>
          <div>
            <small *ngIf="height.invalid && (height.dirty || height.touched)" class="text-danger">
              {{ 'Invalid height' | translate }}
            </small>
          </div>
        </div>
      </div>

      <hr/>

      <h3>{{ 'About' | translate }}</h3>
      <div class="row field-row-sep">
        <div class="col-sm-6">
          <label class="col-sm-3 col-form-label">{{ 'Personality' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="personality" formControlName="personality">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="introvert" name="personality" formControlName="personality">{{ 'Introvert' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="extrovert" name="personality" formControlName="personality">{{ 'Extrovert' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="mixed" name="personality" formControlName="personality">{{ 'Mixed' | translate }}</label>
          </div>
          <div>
            <small *ngIf="personality.invalid && (personality.dirty || personality.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="col-sm-3 col-form-label">{{ 'Zodiac' | translate }}</label>
          <select class="form-control" formControlName="zodiac">
            <option value="not_tell">{{ 'Rather not tell' | translate }}</option>
            <option *ngFor="let sign of zodiacs" [value]="sign.value">{{ sign.label | translate }}</option>
          </select>
          <div>
            <small *ngIf="zodiac.invalid && (zodiac.dirty || zodiac.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
      </div>

      <hr/>

      <h3>{{ 'Lifestyle' | translate }}</h3>
      <div class="row field-row-sep">
        <div class="col-sm-6">
          <label>{{ 'Smoking' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="smoking" formControlName="smoking">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="regularly" name="smoking" formControlName="smoking">{{ 'Regularly' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="sometimes" name="smoking" formControlName="smoking">{{ 'Sometimes' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="never" name="smoking" formControlName="smoking">{{ 'Never' | translate}}</label>
          </div>
          <div>
            <small *ngIf="smoking.invalid && (smoking.dirty || smoking.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
        <div class="col-sm-6">
          <label>{{ 'Drinking' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="drinking" formControlName="drinking">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="regularly" name="drinking" formControlName="drinking">{{ 'Regularly' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="sometimes" name="drinking" formControlName="drinking">{{ 'Socially' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="never" name="drinking" formControlName="drinking">{{ 'Never' | translate}}</label>
          </div>
          <div>
            <small *ngIf="drinking.invalid && (drinking.dirty || drinking.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
      </div>

      <hr/>

      <h3>{{ 'Family' | translate }}</h3>
      <div class="row field-row-sep">
        <div class="col-sm-6">
          <label>{{ 'Do you have children?' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="children_status" formControlName="children_status">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="has" name="children_status" formControlName="children_status">{{ 'Yes' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="does_not_have" name="children_status" formControlName="children_status">{{ 'No' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="does_not_have_but_wants" name="children_status" formControlName="children_status">{{ 'No, but I want them' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="does_not_have_and_does_not_want" name="children_status" formControlName="children_status">{{ 'No and I don\'t them' | translate }}</label>
          </div>
          <div>
            <small *ngIf="children_status.invalid && (children_status.dirty || children_status.touched)"
              class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
        <div class="col-sm-6">
          <label>{{ 'Do you have pets?' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="pet_status" formControlName="pet_status">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="cat" name="pet_status" formControlName="pet_status">{{ 'Cat(s)' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="dog" name="pet_status" formControlName="pet_status">{{ 'Dog(s)' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="other" name="pet_status" formControlName="pet_status">{{ 'Other(s)' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="none" name="pet_status" formControlName="pet_status">{{ 'None' | translate }}</label>
          </div>
          <div>
            <small *ngIf="pet_status.invalid && (pet_status.dirty || pet_status.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
      </div>

      <hr/>

      <h3>{{ 'Work & Education' | translate }}</h3>
      <div class="row field-row-sep">
        <div class="col-sm-6">
          <label class="col-form-label">{{ 'Work' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="employment_status" formControlName="employment_status">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="full_time" name="employment_status" formControlName="employment_status">{{ 'Full-time' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="part_time" name="employment_status" formControlName="employment_status">{{ 'Part-time' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="freelance" name="employment_status" formControlName="employment_status">{{ 'Freelancer' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="self_employed" name="employment_status" formControlName="employment_status">{{ 'Self-employed' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="unemployed" name="employment_status" formControlName="employment_status">{{ 'Unemployed' | translate }}</label>
          </div>
          <div class="radio disabled">
            <label><input type="radio" value="retired" name="employment_status" formControlName="employment_status">{{ 'Retired' | translate }}</label>
          </div>
          <div>
            <small *ngIf="employment_status.invalid && (employment_status.dirty || employment_status.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="col-form-label">{{ 'Education' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="education_status" formControlName="education_status">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="none" name="education_status" formControlName="education_status">Нямам</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="entry" name="education_status" formControlName="education_status">Основно</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="mid" name="education_status" formControlName="education_status">Средно</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="higher" name="education_status" formControlName="education_status">Визше</label>
          </div>
          <div>
            <small *ngIf="education_status.invalid && (education_status.dirty || education_status.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="col-form-label">{{ 'Income' | translate }}</label>
          <div class="radio">
            <label><input type="radio" value="not_tell" name="income" formControlName="income">{{ 'Rather not tell' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="none" name="income" formControlName="income">{{ 'None' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="low" name="income" formControlName="income">{{ 'Low' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="middle" name="income" formControlName="income">{{ 'Average:income' | translate }}</label>
          </div>
          <div class="radio">
            <label><input type="radio" value="high" name="income" formControlName="income">{{ 'High' | translate }}</label>
          </div>
          <div>
            <small *ngIf="income.invalid && (income.dirty || income.touched)" class="text-danger">
              {{ 'Required field' | translate }}
            </small>
          </div>
        </div>
      </div>
    </form>

    <div class="btn-cont">
      <a role="button"  class="btn-skip" (click)="skipPofileInfo()" [disabled]="loading">{{ 'Skip' | translate }}</a>
      <button class="btn btn-outline-primary" (click)="saveProfileInfo()">{{ 'Save' | translate}}</button>
    </div>
  </div>
</div>

<div *ngIf="4 == step">
  <h2 class="section-title">{{ 'Interests' | translate }}</h2>
  <div class="onboarding-step-cont rounded shadow-sm">
    <div style="margin-bottom: 25px;">
      <hobbie-picker [selectedHobbies]="selectedHobbies" [list]="allHobbies" type="hobbies"
        (changed)="hobbiesChanged($event)"></hobbie-picker>
      <small *ngIf="hobbies.invalid && (hobbies.dirty || hobbies.touched)" class="text-danger">
        {{ 'Choose at least 1 hobbie' | translate }}
      </small>
    </div>
    <div style="margin-bottom: 25px;">
      <hobbie-picker [selectedHobbies]="selectedActivities" [list]="allActivities" type="activities"
        (changed)="interestsChanged($event)"></hobbie-picker>
      <small *ngIf="activities.invalid && (activities.dirty || activities.touched)" class="text-danger">
        {{ 'Choose at least 1 activity' | translate }}
      </small>
    </div>

    <div class="btn-cont">
      <a role="button"  class="btn-skip" (click)="skipInterests()" [disabled]="loading">{{ 'Skip' | translate }}</a>
      <button class="btn btn-outline-primary" (click)="saveInterests()" [disabled]="loading">{{ 'Save' | translate }}</button>
    </div>
  </div>
</div>

<div *ngIf="5 == step" style="width: 450px; max-width: 100%; padding-top: 20px; margin: auto;">
  <h2 class="section-title">{{ 'Upload Photo' | translate }}</h2>
  <div>
    {{ 'Give a face to your profile. Having a photo drastically increases your chance for a match.' | translate }}
  </div>

  <h5 style="margin-top: 15px;">{{ 'Photo rules:' | translate }}</h5>
  <div style="padding: 0 20px;">
    <ul class="a">
      <li>{{ 'You must be in the picture' | translate }}</li>
      <li>{{ 'Show your face' | translate }}</li>
      <li>{{ 'No nudity' | translate }}</li>
    </ul>
  </div>
  
  <div *ngIf="imageUploadError" style="text-align: center; margin: 20px 0;">
    <small small class="text-danger">
      {{ imageUploadError | translate }}
    </small>
  </div>

  <div class="add-image-item" style="width: 200px; margin: auto;">
    <img *ngIf="!uploadingImage" [src]="userImage.small" style="border-radius: 100%; width: 100%;" (click)="newImage.click()" />
    <loader *ngIf="uploadingImage"></loader>
  </div>

  <!-- <div style="text-align: center; margin-top: 20px;">
    <a role="button"  class="btn-skip" (click)="skipUpload()" [disabled]="uploadingImage">{{ 'Skip' | translate }}</a>
  </div> -->

  <div style="text-align: center; margin-top: 35px;">
    <button class="btn btn-outline-outline-primary" (click)="newImage.click()" [disabled]="uploadingImage">{{ 'Upload' | translate }}</button>
  </div>

  <input type="file" accept="image/*" (change)="uploadImage($event.target.files)" style="display: none;" #newImage>
</div>

<div *ngIf="6 == step" style="padding-top: 20px;">
  <h2 class="section-title">{{ 'Personality Quiz' | translate }}</h2>

  <div *ngIf="showQuizIntroText">
    <div class="alert alert-info" role="alert">
      {{ 'The goal of the personality quiz is to determine part of what your personality and beliefs are so that
      we can find better matches for you.' | translate }}
      <br/>
      {{ 'To find a better match try to answer honestly.' | translate }}
      <br/>
      <br/>
      {{ 'No one else will be able to see your answers.' | translate }}
    </div>
    <div class="info-button-cont">
      <button class="btn btn-outline-primary" (click)="showQuizIntroText = false">{{ 'Start Quiz' | translate}}</button>
    </div>
  </div>

  <div *ngIf="!showQuizIntroText && quizComplete" style="width: 500px; max-width: 100%; text-align: center; margin: auto; margin-top: 20px;">
    <div class="alert alert-success" role="alert">
      {{ 'You have completed the personality quiz!' | translate }}
    </div>
  </div>

  <progress *ngIf="!showQuizIntroText && !quizComplete" class="border shadow-sm"
    [value]="stepProgress / questions.length" max="1" style="width: 100%; height: 30px"></progress>

  <div *ngIf="!showQuizIntroText && !quizComplete" style="padding: 25px;" class="onboarding-step-cont border shadow-sm">
    <form [formGroup]="quizForm">
      <div *ngFor="let question of stepQustions(quizStep); let ix = index" class="form-group">
        <label>
          {{ question.text | translate }}
        </label>
        <div style="margin-bottom: 25px; margin-left: 20px;">
          <div *ngFor="let answer of question.answers" class="radio">
            <label>
              <input type="radio" [value]="answer.id" [name]="question.id" [formControlName]="question.id">
              {{ answer.text | translate }}
            </label>
          </div>
          <small *ngIf="quest(question.id).invalid && (quest(question.id).dirty || quest(question.id).touched)"
            class="text-danger">
            {{ 'Required field' | translate }}
          </small>
        </div>
      </div>
    </form>

    <a *ngIf="quizStep > 1" role="button" class="btn-skip" style="margin-right: 15px;" (click)="prevQuizStep()">{{ 'Previous' | translate }}</a>
    <button class="btn btn-outline-primary" (click)="saveQuiz()">{{ 'Next' | translate }}</button>
  </div>
</div>

<div *ngIf="7 == step" style="width: 450px; margin: auto; text-align: center;">
  <h2 class="section-title">{{ 'Congratulations!' | translate }}</h2>
  <div class="alert alert-success" role="alert">
    {{ 'You have successfully completed the onboarding!' | translate }}
  </div>
  <div class="info-button-cont">
    <button class="btn btn-success" (click)="complete()">{{ 'Go to app' | translate }}</button>
  </div>
</div>
