.section-title
  padding: 10px 0 20px 0
  margin: 0
  margin-top: 30px

.onboarding-step-cont
  padding: 35px
  background-color: #fff
  border-radius: 7px

  &:after
    content: ""
    display: table
    clear: both

.ob-small
  width: 600px
  margin: auto

progress
  border-radius: 10px 
  width: 80%
  height: 30px

progress::-webkit-progress-bar
  background-color: #aeb5ac
  border-radius: 10px

progress::-webkit-progress-value
  background-color: #a2d498
  border-radius: 10px

.btn-cont
  float: right
  margin-top: 20px

  a, button
    vertical-align: middle

.field-row-sep
  margin-bottom: 40px

.info-button-cont
  margin-top: 20px
  text-align: center

h2
  text-align: center

.btn-outline-dark
  margin-right: 10px

.btn-skip
  color: #000
  margin-right: 10px

@media only screen and (max-width: 1260px)
  .section-title
    margin-top: 35px

@media only screen and (max-width: 600px)
  .ob-small
    width: 100%
