.onboarding-step-cont
  padding: 25px
  background-color: #fff

.onboarding-step-cont.ob-small
  width: 500px
  margin: auto

progress
  border-radius: 10px 
  width: 80%
  height: 30px
  #box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 )

progress::-webkit-progress-bar
  background-color: #aeb5ac
  border-radius: 10px

progress::-webkit-progress-value
  background-color: #a2d498
  border-radius: 10px
  #box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 )

.btn-cont
  position: relative

  button
    float: right
