.cont {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;

  a {
    text-decoration: none;
  }
}
.cont .img {
  width: 60px;
  vertical-align: middle;
}
.cont .text {
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
  margin-left: 5px;
  color: #fff;
}
