<div class="user-item rounded shadow-sm" title="{{ user?.intro?.message }}">
  <div class="image-cont rounded" [routerLink]="['/user/' + user.id]">
    <img class="rounded" [src]="user.profile_image" />
    <div class="img-text">
    </div>
    <div class="item-overlay rounded">
      <div class="text-container">
        <div class="text-truncate" style="font-size: initial;">
          {{ user.name }}, {{ user.age }} <verified-badge *ngIf="user.verified"></verified-badge> <online *ngIf="user.online"></online>
        </div> 
        <div class="text-truncate" *ngIf="user.mutual_hobbies_count" style="line-height: 14px;">{{ user.mutual_hobbies_count }} {{ 'mutual interests' | translate }}</div>
        <div class="text-truncate" *ngIf="user.mutual_ativities_count" style="line-height: 14px;">{{ user.mutual_ativities_count }} {{ 'mutual activities' | translate }}</div>
        <div class="text-truncate" *ngIf="user.from" style="line-height: 14px; margin-top: 5px">{{ user.from }}</div>
      </div>
      <div *ngIf="user.intro && 'message' === user.intro.type" class="intro-message">
        {{ user.intro.message }}
      </div>
    </div>

    <span *ngIf="user.compatability" class="badge badge-pill badge-secondary compatability-badge" title="{{ 'Compatability percentage to me' | translate }}" style="position: absolute; right: 5px; top: 5px;">{{ user.compatability }}%</span>
  </div>
</div>
