<div class="user-item rounded shadow-sm" title="{{ user?.intro?.message }}">
  <div class="image-cont rounded" [routerLink]="['/user/' + user.id]">
    <div *ngIf="loading" style="display: flex; justify-content: center; align-items: center;" #loaderCont>
      <loader></loader>
    </div>
    <img class="rounded" [src]="getImg(user.profile_image)" style="width: 100%;" (load)="imageLoaded()" (error)="errorLoadingImage()" [ngStyle]="{display: loading ? 'none': ''}" />
    <div class="img-text"></div>
    <div class="item-overlay rounded">
      <div class="text-container">
        <div class="text-truncate name-info">
          <div>
            {{ user.name }},
          </div>
          <div>
            <span style="vertical-align: middle;">{{ user.age }}</span>
            <span *ngIf="user.is_online" class="online" style="vertical-align: middle;"></span>
            <verified-badge
              *ngIf="user.verification_status === 'verified'"
              style="vertical-align: middle;"
              title="{{ 'Verified with photo' | translate }}"
              ></verified-badge>
          </div>
        </div> 
        <div class="text-truncate" *ngIf="user.mutual_hobbies_count" style="line-height: 14px;">{{ user.mutual_hobbies_count }} {{ 'mutual interests' | translate }}</div>
        <div class="text-truncate" *ngIf="user.mutual_ativities_count" style="line-height: 14px;">{{ user.mutual_ativities_count }} {{ 'mutual activities' | translate }}</div>
        <div class="text-truncate" *ngIf="user.from" style="line-height: 14px; margin-top: 5px">{{ user.from }}</div>
      </div>
      <div *ngIf="user.intro && 'message' === user.intro.type" class="intro-message">
        {{ user.intro.message }}
      </div>
    </div>

    <div style="position: absolute; right: 5px; top: 5px;">
      <span *ngIf="user.compatibility"
            class="badge badge-pill badge-secondary compatibility-badge"
            title="{{ 'Compatibility percentage to me' | translate }}"
            style="margin-right: 5px; "
            >
        <fa-icon [icon]="faPersonality"></fa-icon>
        {{ user.compatibility }}%
      </span>

      <span *ngIf="user.interestCompatibility"
            class="badge badge-pill badge-secondary compatibility-badge"
            title="{{ 'Interests compatibility percentage to me' | translate }}"
            style="background-color: #bf45f7;"
            >
        <fa-icon [icon]="faInterests"></fa-icon>
        {{ user.interestCompatibility }}%
      </span>
    </div>
  </div>
</div>
