<h1 style="position: relative;">{{ 'Compatibilities' | translate }}
  <button class="btn btn-outline-dark" style="position: absolute; top: 0; right: 0;" (click)="openModal(content)">
    <fa-icon [icon]="faSearchPref"></fa-icon>
  </button>
</h1>
<h5>{{ 'People with high compatibility percentage to me.' | translate }}</h5>

<loader *ngIf="loading"></loader>
<div *ngIf="!loading && users.length == 0">
  {{ 'No compatibilities yet.' | translate }}
</div>
<div class="user-items-cont">
  <user-item *ngFor="let user of users" [user]="user"></user-item>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <h4>{{ 'Age' | translate }}</h4>
      <div class="row">
        <div class="col-6">
          <select class="form-control" [value]="editSearchPref.fromAge" (change)="changePref('fromAge', +$event.target.value)">
            <option *ngFor="let age of ages" [value]="age" [selected]="age == editSearchPref.fromAge">{{age}}</option>
          </select>
        </div>
        <div class="col-6">
          <select class="form-control" [value]="editSearchPref.toAge" (change)="changePref('toAge', +$event.target.value)">
            <option *ngFor="let age of agesTo" [value]="age" [selected]="age == editSearchPref.toAge">{{age}}</option>
          </select>
        </div>
      </div>
    </div>

    <button class="btn btn-outline-primary" style="width: 100%; margin-top: 20px;" (click)="saveSearchPref()">{{ 'Save' | translate }}</button>
  </div>
</ng-template>
