<div *ngIf="!streaming && !streamingStoped"
  style="width: 100%; min-height: 200px; display: flex; justify-content: center; align-items: center;">
  <loader></loader>
</div>
<div class="camera" (click)="takePicture()" style="overflow: hidden;">
  <video class="border" [ngStyle]="{ 'display': (streaming ? 'block' : 'none') }" #video>Video stream not
    available.</video>
</div>
<canvas #canvas></canvas>
<div style="overflow: hidden;">
  <img class="photo border" [ngStyle]="{ 'display': ((!streaming && data) ? 'block' : 'none') }" (click)="start()"
    #photo>
</div>
<button *ngIf="streaming" class="btn btn-outline-primary" style="width: 100%; margin-top: 10px;"
  (click)="takePicture()">{{ 'Take photo' | translate }}</button>
<button *ngIf="!streaming" class="btn btn-outline-primary" style="width: 100%; margin-top: 10px;" (click)="start()"
  [disabled]="!canStart">{{ 'Retake photo' | translate }}</button>