<div style="height: 700px; overflow: hidden; position: fixed; top: 0; bottom: 0; height: 100%; width: 840px;">
  <div class="rounded shadow-sm" style="background-color: #fff; height: auto; position: absolute; top: 60px; bottom: 10px; left: 0px; right: 0px; width: 100%; overflow: hidden; border: 1px solid #b0b0b0;">
    <div style="width: 250px; height: 100%; border-right: 1px solid #b0b0b0; float: left;">
      <div style="height: 100%; overflow-y: auto;">
        <div>
          <loader *ngIf="loading"></loader>
          
          <div *ngIf="!loading && 0 === users.length" style="padding: 5px;">
            No matches yet.
          </div>
          <div *ngFor="let user of users" class="chat-user-item" (click)="changeUser(user)" style="padding: 5px;" [ngClass]="{'not-seen': (user.notSeenCount > 0), 'active-chat': (activeUserId === user.id)}">
            <img [src]="user.profileImage" class="rounded" style="width: 40px;" />
            {{user.name}}
          </div>
        </div>
      </div>
    </div>
    <div style="width: 590px; height: 100%; margin-left: 250px; position: relative; background-color: #e8e8e8;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
