<div class="msg-page-cont">
  <div class="rounded shadow-sm inner-cont" (click)="menuHidden = true">
    <div class="chat-members-cont" style="overflow-y: auto;">
      <div style="height: 100%; width: 100%; overflow-y: auto;">
        <div class="messages-title-cont">
          <span class="messages-title">{{ 'Messages' | translate }}</span>
          <fa-icon class="toggle-menu" [icon]="faMenuItem" (click)="showMenu($event)"></fa-icon>
        </div>

        <loader *ngIf="loading"></loader>

        <div *ngIf="!loading && 0 === users.length" style="padding: 10px; font-weight: bold;">
          {{ 'No matches yet.' | translate }}
        </div>
        <div *ngFor="let user of users"
             class="chat-user-item"
             [ngClass]="{'not-seen': (user.notSeenCount > 0), 'active-chat': (getActiveUserId() === user.id)}"
             style="padding: 5px;"
             (click)="changeUser(user)"
             >
          <img [src]="user.profileImage" class="rounded" style="width: 40px;" />
          <span class="member-name">{{ user.name }}</span>
        </div>
      </div>
    </div>
    <div class="chat-cont" style="margin: 0;">
      <h4 *ngIf="!loading && 0 === users.length" style="display: inline-block; position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      padding: 0 10px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);">
        {{ 'No one to chat with. You don\'t have any matches yet.' | translate }}
      </h4>
      <fa-icon class="toggle-menu" [icon]="faMenuItem" (click)="showMenu($event)"></fa-icon>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
