.chat-user-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.chat-user-item img {
  width: 40px;
}

.not-seen {
  background-color: #dedcdc;
}

.chat-user-item.active-chat {
  background-color: #f2f2f2;
}

.msg-page-cont {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 840px;
}
.msg-page-cont .toggle-menu {
  display: none;
  cursor: pointer;
}
.msg-page-cont .inner-cont {
  position: static;
  height: calc(100vh - 70px);
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  border: 1px solid #b0b0b0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.msg-page-cont .messages-title-cont {
  overflow: hidden;
  height: 52px;
  padding: 12px 10px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #b0b0b0;
}
.msg-page-cont .chat-cont {
  margin: 0;
  width: 590px;
  height: 100%;
  position: relative;
  background-color: #e8e8e8;
}
.msg-page-cont .chat-members-cont {
  border-right: 1px solid #b0b0b0;
  width: 250px;
  display: inline-flex;
  position: relative;
}

.chat-members-cont .member-name {
  margin-left: 5px;
}

@media only screen and (max-width: 890px) {
  .msg-page-cont {
    width: 100%;
    position: static;
  }
  .msg-page-cont .chat-cont {
    width: calc(100% - 250px);
  }
}

@media only screen and (max-width: 700px) {
  .messages-title-cont {
    display: none;
  }
  .chat-members-cont {
    width: 50px !important;
  }
  .chat-members-cont .member-name {
    display: none;
  }
  .chat-members-cont .messages-title {
    display: none;
  }
  .chat-user-item img {
    width: 100%;
  }
  .msg-page-cont .toggle-menu {
    display: block;
  }
  .msg-page-cont .chat-cont {
    width: 100%;
    margin: 0;
  }
  .msg-page-cont .chat-members-cont.menu-hidden {
    display: none;
  }
}
