<div class="msg-page-cont">
  <div class="rounded shadow-sm inner-cont" [ngClass]="{ 'on-cordx': showFooterMenu }" (click)="menuHidden = true">
    <div *ngIf="!isMobile || onMembersPage" class="chat-members-cont" style="overflow-y: auto;"
      [ngStyle]="{ width: (isMobile && onMembersPage) ? '100%' : '', 'border-right': isMobile ? '0px' : '' }">
      <div style="height: 100%; width: 100%; overflow-y: auto;">
        <div class="messages-title-cont">
          <span class="messages-title">{{ 'Messages' | translate }}</span>
          <fa-icon class="toggle-menu" [icon]="faMenuItem" (click)="showMenu($event)"></fa-icon>
        </div>

        <loader *ngIf="loading"></loader>

        <div *ngIf="!loading && 0 === users.length" style="padding: 10px; font-weight: bold;">
          {{ 'No matches yet.' | translate }}
        </div>
        <div *ngFor="let user of users"
             class="chat-user-item"
             [ngClass]="{'not-seen': (user.notSeenCount > 0), 'active-chat': (getActiveUserId() === user.id)}"
             style="padding: 5px; display: flex; flex-direction: row; align-items: center;"
             (click)="changeUser(user)"
             >
          <img src="{{ cordovaService.getImgPath2(user.profileImage) }}" class="rounded" />
          <div style="margin-left: 5px; height: 60px; display: flex; flex-direction: column; justify-content: center; overflow: hidden;">
            <div>
              <span class="member-name" style="font-size: 20px;">{{ user.name }}</span>
              <mat-icon *ngIf="user.verified" style="vertical-align: middle; margin-left: 3px; color: #4798b5;">verified_outline</mat-icon>
              <span *ngIf="user.is_online" class="online-ic"></span>
            </div>
            <div *ngIf="user.lastMessage" style=" display: flex; overflow: hidden; color: #636363; font-size: 15px;">
              <mat-icon *ngIf="user.id !== user.lastMessage.user_id">reply</mat-icon>
              <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" [ngStyle]="{ 'font-weight': user.notSeenCount ? 700 : '' }">{{ user.lastMessage.text }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isMobile || !onMembersPage" class="chat-cont" style="margin: 0;">
      <h4 *ngIf="!loading && 0 === users.length" style="display: inline-block; position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      padding: 0 10px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);">
        {{ 'No one to chat with. You don\'t have any matches yet.' | translate }}
      </h4>
      <!-- <fa-icon class="toggle-menu" [icon]="faMenuItem" (click)="showMenu($event)"></fa-icon> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
