/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"
@import "~css.gg/icons/all.css"
@import "~angular-notifier/styles.css"

$borderColor: rgba(46, 62, 72, 0.12)

@font-face
  font-family: BalsamiqSans
  src: url(assets/font/BalsamiqSans-Regular.ttf) format("opentype")

body
  background-color: #f5f3f0 !important
  position: relative

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'BalsamiqSans', 'arial', sans-serif
  &:active
    outline: 0
    border: none
    -moz-outline-style: none
  &:focus
    outline: 0
    border: none
    -moz-outline-style: none

.interest-item
  &.mutual
    background-color: #bec4c0
  margin: 5px
  padding: 0 5px
  display: inline-block
  #border: 1px solid #bec4c0
  color: #fff
  background-color: #ff6060ff
  font-weight: bold
  border: 0px
  border-radius: 5px

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle
  background-color: #ff6060ff
  border-color: #ff6060ff

.btn.btn-primary
  background-color: #ff6060ff
  border-color: #ff6060ff
  &:hover
    background-color: red
    border-color: red

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle
  background-color: #ff6060ff
  border-color: #ff6060ff

.btn.btn-outline-primary
  color: #ff6060ff
  border-color: #ff6060ff
  &:hover
    color: #fff
    background-color: #ff6060ff
    border-color: #ff6060ff

.primary-item
  margin-left: 5px
  transition: color .3s

  &:hover
    color: #ff6060ff
    cursor: pointer

.intro-item:hover
  .media-btn
    display: inline-block

.modal-sm
  width: 400px
  max-width: 400px

button.like-btn
  color: #de7ec8
  border-color: #de7ec8
  margin-left: 10px

button.like-btn:hover
  background-color: #de7ec8 !important
  color: #fff

.form-group.required .control-label:after
  content: "*"
  color: red

input[type="radio"]
  margin-right: 5px

.compatibility-badge
  background-color: #599c61
