.profile-content
  padding: 6px
  #padding-left: 20px
  #border-left: 1px solid rgba(46,62,72,.12)

  .image-content
    float: left
    width: 180px
    height: 180px
    overflow: hidden
    position: absolute
    background-size: 180px 180px

  .image-content:hover
    cursor: pointer
    .img-btn
      display: block

  .img-btn
    position: absolute
    bottom: 0
    width: 100%
    padding: 15px
    text-align: center
    background-color: rgba(46,62,72,.4)
    display: none

  .name-content
    float: left
    width: 340px
    padding: 5px
    padding-left: 15px
    #padding-top: 30px

  .interest-item
    &.mutual
      background-color: #bec4c0
    margin: 5px
    padding: 0 5px
    display: inline-block
    border: 1px solid #bec4c0
    border-radius: 5px
    background-color: #e5f0d1
    cursor: default

.sep
  position: relative
  #border-top: 1px solid #bec4c0
  border-top: 1px solid rgba(46,62,72,.12)
  margin-top: 20px
  padding-top: 20px
  width: 500px

h5
  margin: 0

.edit-btn
  cursor: pointer
  margin-left: 7px
  font-size: initial

.images-content
  .image
    margin: 1px

button.vbtn
  display: inline-block
  font-weight: 600
  margin-right: 10px
  border-radius: 0
  outline: 1px solid rgba(46, 62, 72, 0.4)
  color: rgba(46, 62, 72, 0.7)

.btn-decline:hover
  color: #fff
  background-color: red

.btn-accept:hover
  color: #fff
  background-color: green


.add-image-item
  width: 150px
  height: 150px
  float: left
  margin: 2px
  position: relative
  display: inline-block
  cursor: pointer
  overflow: hidden

.modal-add-item
  background-color: rgba(46, 62, 72, 0.4)

.modal-add
  text-align: center
  font-size: 24px
  font-weight: bold
  padding: 57px
  color: #fff

.modal-add:hover
  background-color: rgba(46, 62, 72, 0.2)

ul
  list-style-type: circle

.user-info-item
  margin-bottom: 5px

.intro-response
  border-bottom: 4px solid #de7ec8
  display: inline-block
  margin-top: 20px

.edit-btn
  vertical-align: middle

.user-info-item
  .info-icon
    width: 30px
    display: inline-block

.profile-info-container
  padding: 15px
  background-color: #fff
  position: relative

  .edit-btn
    position: absolute
    top: 10px
    right: 10px

.intro-type-title
  margin-bottom: 10px

.name
  font-weight: 700
  font-size: 20px

pre
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word
  font-family: "BalsamiqSans", "arial", sans-serif
  margin: 5px
