<loader *ngIf="loading"></loader>

<ng-template #userInfo>
  <div class="name-cont">
    <span class="align-middle">
      {{user.name}}, {{user.age}}
      <verified-badge *ngIf="'verified' === user.verification_status"></verified-badge>
      <online *ngIf="user.online"></online>
      <span *ngIf="'verified' === user.verification_status" class="verification-status-text" style="cursor: default;">
        {{ 'verified' | translate }}
      </span>
      <span *ngIf="isLoggedUser && 'pending' === user.verification_status" class="verification-status-text"
        style="cursor: default;">
        {{ 'verification pending' | translate }}
      </span>
      <a *ngIf="isLoggedUser && !['pending', 'verified'].includes(user.verification_status)" href="javascript:void(0)"
        (click)="openVerifyModal()" class="verification-status-text">
        {{ 'verify profile' | translate }}
      </a>
    </span>
    <span *ngIf="user.compatability" class="badge badge-pill badge-secondary align-middle compatability-badge"
      style="margin-left: 10px;" title="Compatability percentage to me">{{ user.compatability }}%</span>
  </div>
  <div>
    {{ user.title }}
  </div>
</ng-template>

<div *ngIf="!loading && user">
  <div class="profile-content">

    <div class="profile-data-content">
      <div class="container" style="margin-bottom: 30px; position: relative; margin-top: 100px">
        <div class="name-main" style="position: absolute; margin-left: 210px; margin-top: -60px;">
          <ng-container *ngTemplateOutlet="userInfo"></ng-container>
        </div>

        <div class="shadow-sm rounded"
          style="padding: 15px; min-height: 100px; background-color: #fff; position: relative;">

          <div class="name-resp">
            <ng-container *ngTemplateOutlet="userInfo"></ng-container>
          </div>

          <div class="user-images-cont2">
            <div class="user-images">
              <img *ngFor="let img of previewImages(); let ix = index" [src]="img.small" class="border"
                style="width: 50px; border-radius: 100%; margin-right: 5px; cursor: pointer;"
                (click)="showGalleryModal(ix + 1)" />
            </div>

            <div *ngIf="!isLoggedUser" class="user-actions-cont2">
              <div
                *ngIf="'verified' !== loggedUser.verificationStatus && 'verified' === user.verification_status; else actionBtns"
                class="alert alert-warning" role="alert">
                {{ 'You must be verified to send' | translate }}
                <br />
                {{ 'an intros to this user.' | translate }}
              </div>
              <ng-template #actionBtns>
                <button *ngIf="!user.relation_status" class="btn btn-outline-primary user-action-item"
                  (click)="sendSmile()">
                  <fa-icon class="user-action-icon smile-icon" [icon]="faSmile"></fa-icon>
                  {{ 'Smile' | translate }}
                </button>

                <button *ngIf="!user.relation_status" class="btn btn-outline-primary user-action-item"
                  (click)="openIntroDialog(introDialog)">
                  <fa-icon class="user-action-icon message-icon" [icon]="faSendIntro"></fa-icon>
                  {{ 'Send intro' | translate }}
                </button>

                <button *ngIf="'matched' === user.relation_status" class="btn btn-outline-primary user-action-item"
                  style="margin-right: 10px;" (click)="unmatch()">
                  <fa-icon class="user-action-icon unmatch-icon" [icon]="faUnmatch"></fa-icon>
                  {{ 'Unmatch' | translate }}
                </button>

                <div *ngIf="'intro_to_me' === user.relation_status" class="intro-response">
                  {{ 'They have sent you an intro!' | translate }}
                </div>

                <div *ngIf="'intro_from_me' === user.relation_status" class="intro-response">
                  {{ 'You have sent an intro to them' | translate }}
                </div>

                <button *ngIf="'matched' === user.relation_status" class="btn btn-outline-primary user-action-item"
                  [routerLink]="['/chat/user/' + userId]">
                  <fa-icon class="user-action-icon message-icon" [icon]="faSendMessage"></fa-icon>
                  {{ 'Message' | translate }}
                </button>

                <button class="btn btn-outline-dark" (click)="openReportModal(reportDialog)">
                  <fa-icon [icon]="faFlag"></fa-icon>
                  {{ 'Report' | translate }}
                </button>
              </ng-template>
            </div>
          </div>

          <div *ngIf="0 && !isLoggedUser" class="user-actions-cont">
            <div
              *ngIf="'verified' !== loggedUser.verificationStatus && 'verified' === user.verification_status; else actionBtns"
              class="alert alert-warning" role="alert">
              {{ 'You must be verified to send' | translate }}
              <br />
              {{ 'an intros to this user.' | translate }}
            </div>
            <ng-template #actionBtns>
              <button *ngIf="!user.relation_status" class="btn btn-outline-primary user-action-item"
                (click)="sendSmile()">
                <fa-icon class="user-action-icon smile-icon" [icon]="faSmile"></fa-icon>
                {{ 'Smile' | translate }}
              </button>

              <button *ngIf="!user.relation_status" class="btn btn-outline-primary user-action-item"
                (click)="openIntroDialog(introDialog)">
                <fa-icon class="user-action-icon message-icon" [icon]="faSendIntro"></fa-icon>
                {{ 'Send intro' | translate }}
              </button>

              <button *ngIf="'matched' === user.relation_status" class="btn btn-outline-primary user-action-item"
                style="margin-right: 10px;" (click)="unmatch()">
                <fa-icon class="user-action-icon unmatch-icon" [icon]="faUnmatch"></fa-icon>
                {{ 'Unmatch' | translate }}
              </button>

              <div *ngIf="'intro_to_me' === user.relation_status" class="intro-response">
                {{ 'They have sent you an intro!' | translate }}
              </div>

              <div *ngIf="'intro_from_me' === user.relation_status" class="intro-response">
                {{ 'You have sent an intro to them' | translate }}
              </div>

              <button *ngIf="'matched' === user.relation_status" class="btn btn-outline-primary user-action-item"
                [routerLink]="['/chat/user/' + userId]">
                <fa-icon class="user-action-icon message-icon" [icon]="faSendMessage"></fa-icon>
                {{ 'Message' | translate }}
              </button>

              <button class="btn btn-outline-dark" (click)="openReportModal(reportDialog)">
                <fa-icon [icon]="faFlag"></fa-icon>
              </button>
            </ng-template>
          </div>

          <div *ngIf="isLoggedUser" class="image-content shadow-sm"
            [ngStyle]="{ 'background-image': 'url(' + user.profile_image + ')'}"
            (click)="showEditImageModal(imageUploadModal)">
            <div *ngIf="isLoggedUser" class="img-btn" style="color: #fff;">{{ 'Change image' | translate }}</div>
          </div>

          <div *ngIf="!isLoggedUser" class="image-content shadow-sm"
            [ngStyle]="{ 'background-image': 'url(' + user.profile_image + ')'}" (click)="showGalleryModal()">
            <div class="img-btn" style="color: #fff;" *ngIf="user.images.length > 0">{{ 'View images' | translate }}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="shadow-sm rounded" style="padding: 15px; background-color: #fff; margin-bottom: 30px;">
              <div style="position: relative;">
                <h5>{{ 'About' | translate }}</h5>
                <textarea *ngIf="editingBio" class="bio"
                  (change)="setEditBioText($event.target.value)">{{ editBioText }}</textarea>
                <div *ngIf="!editingBio" class="bio">
                  <span *ngIf="hasBio()">{{ user.description }}</span>
                  <span *ngIf="!hasBio()">{{ 'No bio yet.' | translate }}</span>
                </div>
              </div>

              <hr>

              <h5>
                {{ 'Interests' | translate }}
                <fa-icon *ngIf="!editingInterests && isLoggedUser" class="edit-btn primary-item"
                  (click)="editInterests()" [icon]="faPen"></fa-icon>
                <fa-icon *ngIf="editingInterests && isLoggedUser" class="edit-btn primary-item"
                  (click)="saveInterests()" [icon]="faSave"></fa-icon>
              </h5>
              <div *ngIf="!editingInterests">
                <div *ngIf="getInterests().length === 0">{{ 'No interests yet.' | translate }}</div>
                <span *ngFor="let interest of getInterests()" class="interest-item"
                  [ngClass]="{'mutual': interest.mutual}">
                  {{ interest.name | translate }}
                </span>
              </div>
              <div *ngIf="editingInterests">
                <hobbie-picker (changed)="changeEditHobbies($event)" [selectedHobbies]="editHobbies" [list]="allHobbies"
                  type="hobbies">
                </hobbie-picker>
              </div>

              <hr>

              <h5>
                {{ 'Free time activities' | translate }}
                <fa-icon *ngIf="!editingActivities && isLoggedUser" class="edit-btn primary-item"
                  (click)="editFreeActivities()" [icon]="faPen"></fa-icon>
                <fa-icon *ngIf="editingActivities && isLoggedUser" class="edit-btn primary-item"
                  (click)="saveActivities()" [icon]="faSave"></fa-icon>
              </h5>
              <div *ngIf="!editingActivities">
                <div *ngIf="getActivities().length === 0">{{ 'No activities yet.' | translate }}</div>
                <span *ngFor="let interest of getActivities()" class="interest-item">
                  {{ interest.name | translate }}
                </span>
              </div>
              <div *ngIf="editingActivities">
                <hobbie-picker (changed)="changeEditHobbies($event)" [selectedHobbies]="editActivities"
                  [list]="allActivities" type="activities"></hobbie-picker>
              </div>

              <hr>

              <h5>
                {{ 'From' | translate }}
                <fa-icon *ngIf="!editingFrom && isLoggedUser" class="edit-btn primary-item" (click)="editFrom()"
                  [icon]="faPen"></fa-icon>
                <fa-icon *ngIf="editingFrom && isLoggedUser" class="edit-btn primary-item" (click)="saveFrom()"
                  [icon]="faSave"></fa-icon>
              </h5>
              <div *ngIf="!editingFrom">
                {{user.location?.fullName}}
                <span *ngIf="!user.location || !user.location.fullName || user.location.fullName.trim() === ''">
                  {{ 'No location yet.' | translate }}
                </span>
              </div>
              <location-select *ngIf="editingFrom" [location]="editFromData"
                (locationChanged)="locationChanged($event)"></location-select>
            </div>

            <div  *ngFor="let answer of profileAnswers" class="shadow-sm rounded" style="padding: 15px; background-color: #fff; margin-bottom: 30px; position: relative;">
              <fa-icon *ngIf="isLoggedUser" class="edit-btn primary-item" style="position: absolute; right: 0; top: 0;" [icon]="faPen" (click)="editAnswer(answer)"></fa-icon>
                <h5>{{ answer.question_text }}</h5>
                <div style="margin-top: 10px;">
                  <div *ngIf="answer.noAnswer" style="color: thistle; cursor: pointer; word-wrap: break-word;" (click)="editAnswer(answer)">
                    {{ 'Write something here...' | translate }}
                  </div>
                  <div *ngIf="!answer.noAnswer" style="word-wrap: break-word;">
                    {{ answer.answer_text }}
                  </div>
                </div>

            </div>

            <div *ngIf="user.intro && 'intro_to_me' === user.relation_status" class="shadow-sm rounded intro-item"
              (mouseenter)="parentSubject.next({ play: 0 })" (mouseleave)="parentSubject.next({ pause: 0 })"
              style="background-color: #fff; padding: 10px; position: relative; "
              [ngStyle]="{ 'width': 'smile' === user.intro.type ? '250px' : '' }">
              <div class="arrow-right" style="position: absolute; left: -20px; top: 20px"></div>
              <div style="font-size: 13px; margin-bottom: 5px;">
                {{ introsService.sentMessage(user.intro, 'They sent you ') | translate }}
                {{ user.intro.timeAgo.key | translate:{'d': user.intro.timeAgo.d} }}
              </div>
              <pre *ngIf="'message' === user.intro.type">{{user.intro.message}}</pre>
              <div *ngIf="'video' === user.intro.type" style="position: relative;">
                <video-player [src]="user.intro.mediaPath" [index]="0" [parentSubject]="parentSubject"></video-player>
              </div>
              <div *ngIf="'audio' === user.intro.type">
                <audio-player [src]="user.intro.mediaPath" [index]="0" [parentSubject]="parentSubject"></audio-player>
              </div>
              <div *ngIf="'smile' === user.intro.type">
                <smile></smile>
              </div>

              <div style="position: absolute; top: 0; right: -50px; z-index: 1;">
                <div *ngIf="!user.intro.liked_at" style="margin-bottom: 5px; text-align: right;">
                  <button class="btn btn-outline-success like-btn" title="Like intro" [disabled]="likingIntro"
                    (click)="like(user.intro)">
                    <fa-icon [icon]="faHeart"></fa-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-4">
            <div class="shadow-sm rounded profile-info-container">
              <fa-icon *ngIf="isLoggedUser" class="edit-btn primary-item" [icon]="faPen" [routerLink]="['/settings']"
                [queryParams]="{type: 'profile_info'}"></fa-icon>

              <h5 class="user-info-item user-info-title">{{ 'Info' | translate }}</h5>

              <div *ngIf="!hasUserData()">
                {{ 'No person info yet.' | translate }}
              </div>

              <div *ngIf="user.height || user.body" class="user-info-item">
                <fa-icon [icon]="faBody" class="info-icon"></fa-icon>
                <span class="info-text">
                  <span *ngIf="user.height">{{ 'HEIGHT' | translate:{'height': user.height } }}</span>
                  <span *ngIf="user.body">
                    <span *ngIf="user.height">,</span>
                    {{ user.body | translate }}
                  </span>
                </span>
              </div>
              <div *ngIf="user.smoking" class="user-info-item">
                <fa-icon [icon]="faSmoking" class="info-icon"></fa-icon>
                <span *ngIf="user.smoking == 'regularly'" class="info-text">{{ 'Smokes regularly' | translate }}</span>
                <span *ngIf="user.smoking == 'sometimes'" class="info-text">{{ 'Smokes sometimes' | translate }}</span>
                <span *ngIf="user.smoking == 'never'" class="info-text">{{ 'Doesn\'t smoke' | translate }}</span>
              </div>
              <div *ngIf="user.drinking" class="user-info-item">
                <fa-icon [icon]="faCocktail" class="info-icon"></fa-icon>
                <span *ngIf="user.drinking == 'regularly'" class="info-text">{{ 'Drinks regularly' | translate }}</span>
                <span *ngIf="user.drinking == 'sometimes'" class="info-text">{{ 'Drinks socially' | translate }}</span>
                <span *ngIf="user.drinking == 'never'" class="info-text">{{ 'Doesn\'t drink' | translate }}</span>
              </div>
              <div *ngIf="user.children_status" class="user-info-item">
                <fa-icon [icon]="faChild" class="info-icon"></fa-icon>
                <span *ngIf="user.children_status === 'has'" class="info-text">{{ 'Has childen' | translate }}</span>
                <span *ngIf="user.children_status === 'does_not_have'"
                  class="info-text">{{ 'Doesn\'t have children' | translate }}</span>
                <span *ngIf="user.children_status === 'does_not_have_but_wants'"
                  class="info-text">{{ 'Doesn\'t have children, but wants them' | translate }}</span>
                <span *ngIf="user.children_status === 'does_not_have_and_does_not_want'"
                  class="info-text">{{ 'Doesn\'t have children and doesn\'t want them' | translate }}</span>
              </div>
              <div *ngIf="user.pet_status" class="user-info-item">
                <fa-icon [icon]="faCat" class="info-icon"></fa-icon>
                <span *ngIf="user.pet_status == 'cat'" class="info-text">{{ 'Has cat(s)' | translate }}</span>
                <span *ngIf="user.pet_status == 'dog'" class="info-text">{{ 'Has dog(s)' | translate }}</span>
                <span *ngIf="user.pet_status == 'other'" class="info-text">{{ 'Has other pet(s)' | translate }}</span>
                <span *ngIf="user.pet_status == 'none'" class="info-text">{{ 'Doesn\'t have pets' | translate }}</span>
              </div>
              <div *ngIf="user.education_status" class="user-info-item">
                <fa-icon [icon]="faEducation" class="info-icon"></fa-icon>
                <span *ngIf="'none' === user.education_status" class="info-text">Без образование</span>
                <span *ngIf="'entry' === user.education_status" class="info-text">Основно образование</span>
                <span *ngIf="'mid' === user.education_status" class="info-text">Средно образование</span>
                <span *ngIf="'higher' === user.education_status" class="info-text">Визше образование</span>
              </div>
              <div *ngIf="user.employment_status" class="user-info-item">
                <fa-icon [icon]="faEmployment" class="info-icon"></fa-icon>
                <span *ngIf="'full_time' === user.employment_status"
                  class="info-text">{{ 'Full-time' | translate }}</span>
                <span *ngIf="'part_time' === user.employment_status"
                  class="info-text">{{ 'Part-time' | translate }}</span>
                <span *ngIf="'self_employed' === user.employment_status"
                  class="info-text">{{ 'Self-employed' | translate }}</span>
                <span *ngIf="'freelance' === user.employment_status"
                  class="info-text">{{ 'Freelancer' | translate }}</span>
                <span *ngIf="'unemployed' === user.employment_status"
                  class="info-text">{{ 'Unemployed' | translate }}</span>
                <span *ngIf="'retired' === user.employment_status" class="info-text">{{ 'Retired' | translate }}</span>
              </div>
            </div>

            <div class="shadow-sm rounded profile-info-container" style="margin-top: 30px;">
              <fa-icon *ngIf="isLoggedUser" class="edit-btn primary-item" [icon]="faPen"
                (click)="openSearchPrefModal()"></fa-icon>

              <h5 class="user-info-item user-info-title">{{ 'What\'s looking for' | translate }}</h5>

              <div class="user-info-item">
                <fa-icon [icon]="faLookingFor" class="info-icon"></fa-icon>
                <span class="info-text">
                  {{ user.gender + ':looking_for' | translate }} {{ 'wants' | translate }}
                  {{ user.interested_in + ':wants' | translate }}
                </span>
              </div>
              <div *ngIf="0 < lookingFor.length" class="user-info-item">
                <fa-icon [icon]="faLookingForRelation" class="info-icon"></fa-icon>
                <span *ngFor="let item of lookingFor" class="info-text">{{ item.item | translate }}{{ item.s }} </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #imageUploadModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Image upload' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div *ngFor="let userImage of user.images; let ix = index"
              class="rounded shadow border border-dark add-image-item" (click)="showImageUpload(ix + 1, file)">
              <img class="rounded" [src]="userImage.big" style="width: 100%;" />
              <input type="file" accept="image/*" #file (change)="uploadImage(userImage.position, $event.target.files)"
                style="display: none;">
              <button class="btn btn-outline-danger" style="position: absolute; top: 3px; right: 3px;"
                (click)="removeImage($event, ix + 1)" [disabled]="loadingImages[ix + 1]">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>

            <div *ngIf="user.images.length < 6" class="modal-add-item shadow rounded add-image-item align-middle"
              (click)="newImage.click()">
              <div class="modal-add">
                <fa-icon [icon]="faPlus"></fa-icon>
              </div>
              <input type="file" accept="image/*" #newImage
                (change)="uploadImage(user.images.length + 1, $event.target.files)" style="display: none;">
            </div>
            <div style="clear: both;"></div>
          </div>
          <div class="col-sm-4">
            <h5>{{ 'Photo rules:' | translate }}</h5>
            <div style="padding: 0 20px;">
              <ul class="a">
                <li>{{ 'You must be in the picture' | translate }}</li>
                <li>{{ 'Show your face' | translate }}</li>
                <li>{{ 'No nudity' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary"
        (click)="modal.close('Close click')">{{ 'Done' | translate }}</button>
    </div>
  </ng-template>

  <ng-template #introDialog let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ 'Send intro' | translate }}
        <div class="btn-group">
          <button type="button" style="outline: none;" class="btn btn-outline-primary"
            (click)="changeIntroType('message')"
            [ngClass]="{'active': (introType === 'message')}">{{ 'Message' | translate }}</button>
          <button type="button" class="btn btn-outline-primary" (click)="changeIntroType('audio')"
            [ngClass]="{'active': (introType === 'audio')}">{{ 'Voice' | translate }}</button>
          <button type="button" class="btn btn-outline-primary" (click)="changeIntroType('video')"
            [ngClass]="{'active': (introType === 'video')}">{{ 'Video' | translate }}</button>
        </div>
      </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div *ngIf="introType === 'message'">
              <h5 class="intro-type-title">{{ 'Send message' | translate }} ({{ introMsg.length }}/255)</h5>
              <textarea class="form-control" [(ngModel)]='introMsg' rows="3"></textarea>
              <small *ngIf="introMsg.length > 255" class="text-danger">
                {{ 'Message must be less than 255 characters.' | translate }}
              </small>
            </div>
            <div *ngIf="introType === 'audio'">
              <h5 class="intro-type-title">{{ 'Voice message' | translate }}</h5>
              <media-recorder [type]="'audio'" (changed)="changeMedia($event)"></media-recorder>
            </div>
            <div *ngIf="introType === 'video'">
              <h5 class="intro-type-title">{{ 'Video message' | translate }}</h5>
              <media-recorder [type]="'video'" (changed)="changeMedia($event)"></media-recorder>
            </div>
          </div>

          <div class="col-sm-4">
            <div style="padding: 0 20px;">
              <h5>{{ 'Posting rules:' | translate }}</h5>
              <ul class="a">
                <li>{{ 'The person in the recording should be you' | translate }}</li>
                <li>{{ 'No nudity in recording' | translate }}</li>
                <li>{{ 'Be nice' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-primary" (click)="sendIntro()"
        [disabled]="!introData && (0 === introMsg.trim().length || introMsg.length > 255)">{{ 'Send' | translate }}</button>
    </div>
  </ng-template>

  <ng-template #reportDialog let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ 'Report' | translate }}</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="reason">{{ 'Reason' | translate }}</label>
        <select id="reason" class="form-control" #reportType>
          <option value="inappropriate">{{ 'Inappropriate content' | translate }}</option>
          <option value="abusive">{{ 'Abusive language' | translate }}</option>
          <option value="scam">{{ 'Running a scam' | translate }}</option>
          <option value="fake">{{ 'Fake profile/photos' | translate }}</option>
          <option value="underage">{{ 'Underage' | translate }}</option>
          <option value="other">{{ 'Other' | translate }}</option>
        </select>
      </div>

      <div class="form-group required">
        <label class="control-label" for="details">{{ 'Details' | translate }}</label>
        <textarea id="details" class="form-control" placeholder="{{ 'Give us more details..' | translate }}"
          [(ngModel)]='reportDetails'></textarea>
      </div>
      <button class="btn btn-outline-primary" (click)="sendReport(reportType.value)"
        [disabled]="reporting || !reportDetails || 0 === reportDetails.trim().length"
        style="width: 100%;">{{ 'Send' | translate }}</button>
    </div>
  </ng-template>

  <ng-template #editAnswerDialog let-modal>
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Image upload' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div> -->
    <div class="modal-body">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1" (change)="editingQuestion.questionId = $event.target.value">
          <option *ngFor="let question of allProfileQuestions[editingQuestion.categoryId]"
                  [selected]="question.question_id == editingQuestion.questionId"
                  [value]="question.question_id"
                  >
            <h4>{{ question.question_text }}</h4>
          </option>
        </select>
        <div style="margin-top: 15px;">
          <textarea class="form-control"
                    style="border: 0; min-height: 150px;"
                    placeholder="{{ 'Write something here...' | translate }}"
                    [(ngModel)]="editingQuestion.answer"
                    ></textarea>
        </div>
      </div>

      <div style="text-align: right;">
        <button type="button" class="btn btn-outline-dark" style="margin-right: 15px;"
          (click)="modal.close('Close click')" [disabled]="loadings['editAnswer']">{{ 'Cancel' | translate }}</button>
        <button type="button" class="btn btn-outline-primary"
          (click)="saveAsnwer()" [disabled]="loadings['editAnswer']">{{ 'Save' | translate }}</button>
      </div>
    </div>
    <!-- <div class="modal-footer">
    </div> -->
  </ng-template>


<modal-gallery [parentSubject]="gallerySubject" [images]="user.images"></modal-gallery>
