.created-by-text {
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: default;
  font-size: 13px;
  color: #999999;
  text-align: right;
}

@media only screen and (max-width: 1260px) {
  .created-by-text {
    display: none;
  }
}
