<h1>Matches</h1>

<loader *ngIf="loading"></loader>
<div *ngIf="!loading && users.length == 0">
  <div class="alert alert-primary" role="alert">
    To get matched with someone <a routerLink="/intros">accept intros</a> sent to you or <a routerLink="/find-people">find people</a> and send intros to them.
    <br/>
    Check people with <a routerLink="/compatabilities">higher compatability percentage</a> to you.
  </div>

  No matches yet.
</div>
<user-item *ngFor="let user of users" [user]="user"></user-item>
