.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #fff;
}

.intro-item {
  padding: 10px 5px;
  position: relative;
  width: 620px;
  min-height: 140px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.intro-item .report-item {
  display: none;
}
.intro-item .image-cont {
  width: 100px;
  position: absolute;
}
.intro-item .image-cont:hover {
  cursor: pointer;
}

.intro-item:hover {
  background-color: #dbd9d9;
}
.intro-item:hover .media-btn {
  display: inline-block;
}
.intro-item:hover .report-item {
  display: block;
}

.media-btn {
  display: none;
  color: #fff;
  position: absolute;
}

.play-btn {
  left: 20px;
  bottom: 20px;
}

progress {
  border-radius: 5px;
  width: 80%;
  height: 22px;
}

progress::-webkit-progress-bar {
  background-color: #e9ecef;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #007bff;
  border-radius: 5px;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: "BalsamiqSans", "arial", sans-serif;
  margin: 5px;
}
